.App {
  text-align: center;
 
}

.icon-star:before {
  content: "\e608";
}
.icon-star-hollow:before {
  content: "\e609";
}

.row{
  margin: 0;
  padding: 0;
}

.pageAPI{
  
  margin: 1rem;
  padding: 0;
  height: auto;
  background-color: white;
  border-radius : 2%;
  border : #05f26c solid 0.1em;
  font-family: Archive;
  text-align: center;
  box-shadow: lightgray 0.1rem 0.1rem 30px ;
}

.principal
{
  background-color: white;
}


.widgetContainer{
  margin: 2rem;
  padding: 0;
}

.widget{
  margin: 1rem;
  padding: 0;
  height: 15rem;
  background-color: white;
  border-radius : 2%;
  border : #05f26c solid 0.1em;
  font-family: Archive;
  text-align: center;
  box-shadow: lightgray 0.1rem 0.1rem 30px ;
}
.widgetName{
  text-align: center;

}

.pageName
{
  font-family: Archive;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  color: #05f26c;
  
}

.col{
  margin:0;
  padding: 0;
}




.dashboardContainer{
  margin: 0;
  padding: 0;
}




.container{
  text-align: center;


}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}




.dashboard 
{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Archive;
  color: #333333 ;
}

@font-face
{
  font-family: Archive;
  src: url(Font/ARCHIVE-REGULAR.TTF);
}