.App {
  text-align: center;
}

.row{
  margin: 0;
  padding: 0;

}

.widgetContainer{
  margin: 2rem;
  padding: 0;

}
.widget{
  margin: 1rem;
  padding: 0;
  height: 15rem;
  background-color:rgba(0, 0, 255, 0.262);
  border-radius : 2%;

}

.pageName
{
  text-align:center;
  margin:0;
  padding: 0;

}

.col{
  margin:0;
  padding: 0;
}


.dashboardContainer{
  margin: 0;
  padding: 0;
}

.profilBar {
  background-color: #2ba5a5;
  margin:0;
  padding: 0;
  height: 47rem;

}


.container{
  text-align: center;
  margin: 0;
  padding: 0;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.photoProfilUtilisateur
{
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


.bouttonProfilUtilisateur, .bouttonModifierWidget
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.bouttonProfilUtilisateur
{
  margin-top: 35%;
  
}

.dashboard 
{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
font-family: Archive;
color: #2ba5a5;
}

@font-face
{
  font-family: Archive;
  src: url(Font/ARCHIVE-REGULAR.TTF);
}