.App {
  text-align: center;
 
}

.principal
{
  background-color: #fff0f5;

  
}


.widgetContainer{
  margin: 2rem;
  padding: 0;

}
.widget{
  margin: 1rem;
  padding: 0;
  height: 15rem;
  background-color: white;
  border-radius : 2%;
  border : #2ba5a5 solid 0.1em;
  font-family: Archive;
  text-align: center;
}

.pageName
{
  text-align:center;
  margin:0;
  padding: 0;

}

.col{
  margin:0;
  padding: 0;
}


.dashboardContainer{
  margin: 0;
  padding: 0;
}

.profilBar {
  background-color: #2ba5a5;

  height: 47rem;
 

}


.container{
  text-align: center;


}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.photoProfilUser
{
 

  margin-bottom: 5rem;
}




.bouttonDashboard
{ 
  
  border: none;
  width: 3rem;

  color: white;
}

.containerBouttonDashboard
{
  background-color: rgb(238, 88, 218);
  width: 15rem;
  

}

.dashboard 
{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
font-family: Archive;
color: #2ba5a5;
}

@font-face
{
  font-family: Archive;
  src: url(Font/ARCHIVE-REGULAR.TTF);
}