.photoProfilUser
{
   margin-bottom: 5rem;
   margin-left: 1.5rem;
   margin-right: auto;
   margin-top: 1rem;
}




.bouttonDashboard
{ 
    background-color: #05f26c !important;
    border-color: #05f26c !important;
    border : none !important;
    margin-top: 2rem;
    border-radius: 0px !important;
    box-shadow: inset 0px -1px 15px rgb(119, 119, 119) !important;
    height: 4.5rem;
}

.bouttonPlus
{
    background-color: #05f26c !important;
    border-color: #05f26c !important ;
    border-radius: 0px !important;
    border : none !important;
    box-shadow: inset 0px -1px 15px rgb(119, 119, 119) !important;
    height: 4.5rem;
}
.profilBar {
    background-color: rgb(49, 49, 49);
  
    height: auto;
   
  
  }

  .row2
  {
      margin-bottom: 1rem;
  }