.todoListMain button
{
    background-color: white;
    color: #05f26c;
    border: 0.5px #05f26c solid;
    border-radius: 5rem;
    margin-left: 1rem;
}   

.todoListMain button:hover
{
    background-color: #05f26c;
    color: white;
}

.todoListMain .header input 
{
    border:  0.1px solid rgb(49,49,49);
    border-radius: 3rem;
    margin-bottom: 1rem;

}

.todoListMain .header input::placeholder
{
    color: #05f26c;
    
}

.header
{
    margin-top: 0.5rem;
}

.theList 
{
    list-style: none;
    padding-left: 0px;
    width: auto;

}

.theList li
{
    color: rgb(49, 49, 49);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5rem;
    border: #05f26c solid 0.1px;
    width: auto;
    padding : 0.5rem;
    font-family: Hero;
    transition : background-color 0.2s ease-out;
}

.theList li:hover
{
    border: #f86c6c solid 0.1px;   
    cursor: pointer;
}

@font-face
{
    font-family: Hero;
    src: url(../Font/HERO-REGULAR.TTF);
}